# replace the values with your actual database credentials and secret key

# Backend
SECRET_KEY= #
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
CORS_ORIGIN=http://localhost:8000

# Frontend
PUBLIC_API_URL=http://localhost:8000
