# =========================
# ENV FILE (VERY IMPORTANT)
# =========================
.env

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.log

# =========================
# DJANGO
# =========================
db.sqlite3
*.sqlite3

# migrations (optional safe ignore in dev only if needed)
# */migrations/__pycache__/

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
.venv/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db